/* CSS */
body 
{
  background: #f2f2f2;
}
a
{
  text-decoration: none;
  color: #ffffff;
}
img
{
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 155px;
}
h2
{
  z-index: 2;
}
#motos, #sbk
{
  width: 1440px;
}
/* CSS */

/* MATERIEL DESIGN */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button 
{
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
.mdl-layout__header, .mdl-layout__header-row
{
  background-color: #ffffff;
  height: 8em;
}
a, .mdl-navigation
{
  color: #232526!important;
}
.mdl-layout__header .mdl-layout__drawer-button 
{
  padding: 12px;
  margin-top: 1.27em;
}
.mdl-layout__drawer-button 
{
  height: auto;
  width: auto;
  color: #232526!important;
}
.mdl-layout-title .mobile 
{
  color:#000000;
}
.demo-card-wide.mdl-card 
{
  width: auto;
  height: 350px;
}
.demo-card-wide > .mdl-card__title 
{
  color: #fff;
  font-weight: bolder;
  height: 220px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0e0e0+1,ededed+100 */
background: #e0e0e0; /* Old browsers */
background: -moz-linear-gradient(left,  #e0e0e0 1%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e0e0e0 1%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e0e0e0 1%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */


}
.demo-card-wide > .mdl-card__menu 
{
  color: #fff;
}
.mdl-card__supporting-text
{
  height:80px;
  font-size: 1.1rem;
  line-height: 22px;
}
.mdl-button--fab 
{
  bottom: 130px;
  right: 20px;
  position: fixed;
  z-index: 1;;
  background-color: #393939!important;
  color:#ffffff!important;
}
.form
{
  text-align: center;
}
/* MATERIEL DESIGN */

/* MEDIA QUERY */
@media only screen and (max-width:800px)
{ 
  #motos, #sbk
  {
    width: auto;
  }
}

@media only screen and (max-width:1440px)
{ 
  #motos, #sbk
  {
    width: auto;
  }
}
/* MEDIA QUERY */